/*================[ RESET ]*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

/*================[ BODY ]*/
body {
    width: 100vw;
    overflow-x: hidden;
}

/*================[ BANNER ]*/
.banner{
    width: 100vw;
    height: 100vh;
}

.banner-background{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.banner-background::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

.banner-background video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.banner-content .icon{
    width: 40vw;
    max-width: 500px;
}

.banner-content{
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    text-align: center;
    color: white;
    text-shadow: 2px 2px 2px black;
}

.banner-content h1{
    font-size: 4rem;
}

/*================[ MENU ]*/
#nav-bar{
    position: sticky;
    top: 0;
}

#nav-bar ol{
    background: black;

    list-style: none;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    height: 8vh;
}

#nav-bar a{
    text-decoration: none;
    color: white;
    padding: 1rem;
}

#nav-bar a:hover{
    background: white;
    color: black;
}

#nav-bar li:hover{
    scale: 1.1;
    transition: 0.3s ease-in-out;
}

#nav-bar .icon{
    width: 4rem;
    margin: 0 20px 0 0;
}

/*================[ SECTIONS ]*/
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

section{
    width: 70%;
    max-width: 700px;
    margin: 5% auto 0 auto;
}
